.homepage {
    border: solid black 5px;
}

.homepage_groups {
    background-color: aqua;
}



.homepage_players {
    background-color: grey;
}

.homepage_players_single {
    min-width: 20rem;
    border: solid black 1px;
    background-color: whitesmoke;
}



.homepage_commanders {
    border: solid green 3px;
    background-color: moccasin;
}

.homepage_commanders_single {
    border: solid black 3px;
    background-color: moccasin;
}