.MatchBox {
    border: solid black 3px;
}

.matchplayerCol {
    padding: 0;

}


.matchplayerStack {
    padding: 0 !important;
}


.playerBox {
    border: solid black 2px;
    margin: 0;
}

.matchPic {
    /* This makes it so the images do not get fucky with their aspect ratio, I think...*/
    object-fit: cover;
    width: 8%;
}

.matchNickname {

    background-color: grey;
    width: 40%;

}

.matchCommander {
    background-color: blanchedalmond;
    width: 50%;

}

.matchPlacement {
    background-color: rebeccapurple;
    width: 5%;
}


.result-1 {
    background-color: gold;
}

.result-2 {
    background-color: silver;
}

.result-3 {
    background-color: chocolate;
}

.result-4 {
    background-color: brown;
}

.getFocus {
    font-size: large;
    text-transform: uppercase;
    text-decoration: underline;
}